default_stages: [pre-commit, pre-push]
exclude: ^.*/migrations/
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
    -   id: trailing-whitespace
    -   id: requirements-txt-fixer
    -   id: sort-simple-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: check-ast

-   repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
    -   id: pyupgrade
        args: [
            "--py36-plus",
        ]

-   repo: https://github.com/PyCQA/autoflake
    rev: v2.3.1
    hooks:
    -   id: autoflake
        args: [
            "--in-place",
            "--recursive",
            "--remove-all-unused-imports",
            "--ignore-init-module-imports",
        ]

-   repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
    -   id: isort
        args: [
            "--profile", "black",
            "--lines-between-types=1",
            "--lines-before-imports=0",
            "--lines-after-imports=2",
        ]

-   repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
    -   id: black
        args: [
            "--skip-string-normalization",
        ]

-    repo: https://github.com/PyCQA/flake8
     rev: 7.3.0
     hooks:
     -   id: flake8

-    repo: https://github.com/PyCQA/bandit
     rev: 1.9.2
     hooks:
     -   id: bandit
         exclude: ^tests/
         args: [
            "--severity-level", "high",
        ]
