language: python
python:
- "2.7"
- "3.4"
install:
- pip install tox
addons:
  postgresql: "9.4"
before_script:
- psql -U postgres -c "CREATE ROLE history_user2 WITH CREATEUSER CREATEDB LOGIN PASSWORD 'pass';"
script:
- tox
notifications:
  slack:
    secure: dZj9x3ow4cSKSBGTKAZNztX1vXsBIOEtNOhiEIRtzxBnT824CYSpZNdtPPC2+PZoDNimpofZ4KCna8G4Je1PMFu56Rl7L8TKpiziKiPAXjmWli5qwrE2MYufvb6Wm8571SKtnahjXpgnzr31ec+Bpg87jenJ9KS8u6pu0vHdrKFI+bdvTku1evkWaSVfvGzlk13X5gra7JI0Zr9kSgql3xo7bffxYlTK0lPoiAMGcH/cwj7nE3fuSr2ytEMgHiE03F8AqdB3URWby14o868BVUmVlgGRWoci8qgW+AmJqqZIIGOxpM312HqcZWw0OBGdPtDD8WBWfogUvCjirZA1Td9URn19WS1xbqhg/3deGv/huSncRvNIP+psSsPCICnusbdLxVYXpUxfyBpB2urvCEg2b+VlKkpEUry6xOL709nxvqrP3Rzwy3W6dUsyA4MLI8/nLVFfh+TQaQLtOACIFL1sUiRN76UTqVk7DaaGlOqKKrC7K6nOjFLNkPTgWSUK09TrLAjvt7TrUtiXG7OUDZ3JUrDPUPZTQ9y3xJx5Rb9ICzIP2HtI8OPUKzhwL2kzweH+sNNV4tS6TctHvyf6i4fBhNZrCh9y4mSsCDxmNRYvROrJiWsA/QD5rNpsE+378jUxL+YWUoECVWHfOs68rIVHRXHZjI/364NP4+fr0ww=
