services:
  db:
    image: postgres:14-alpine
    user: postgres
    environment:
      - POSTGRES_DB=history_db
      - POSTGRES_USER=history_user
      - POSTGRES_PASSWORD=pass
      - PGDATA=/var/lib/postgresql/data
    ports:
      - "5432:5432"

  test_py310:
    image: python:3.10-slim-bookworm
    environment:
      - PYTHONWARNINGS=always
    command: sh -c "
      cd django-atris;
      bash ./run_tests.sh;
      mv ./test-results.html ./test-results_py310.html;
      "
    volumes:
      - .:/django-atris
    depends_on:
      - db

  test_py311:
    image: python:3.11-slim-trixie
    environment:
      - PYTHONWARNINGS=always
    command: sh -c "
      cd django-atris;
      bash ./run_tests.sh;
      mv ./test-results.html ./test-results_py310.html;
      "
    volumes:
      - .:/django-atris
    depends_on:
      - db

  test_py312:
    image: python:3.12-slim-trixie
    environment:
      - PYTHONWARNINGS=always
    command: sh -c "
      cd django-atris;
      bash ./run_tests.sh;
      mv ./test-results.html ./test-results_py310.html;
      "
    volumes:
      - .:/django-atris
    depends_on:
      - db
