name: Run Tests

on:
  workflow_dispatch:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Run tests
        run: |
          docker compose down
          docker compose run --rm test_py310
          docker compose down
          docker compose run --rm test_py311
          docker compose down
          docker compose run --rm test_py312
          docker compose down

      - name: Publish test results
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path:
            test-results_*
        if: ${{ always() }}
